$green: rgba(216, 226, 220, 1);
$yellow: rgba(255, 229, 217, 1);
$pink: rgba(255, 202, 212, 1);
$red: rgba(244, 172, 183, 1);
$purple: rgba(157, 129, 137, 1);

$green-sat: rgba(172, 226, 195, 1);
$yellow-sat: rgba(255, 194, 165, 1);
$pink-sat: rgba(255, 150, 169, 1);
$red-sat: rgba(244, 122, 138, 1);
$purble-sat: rgba(158, 96, 114, 1);