$colora: hsla(190%, 58%, 24%, 1);
$colorb: hsla(177%, 82%, 26%, 1);
$colorc: hsla(41%, 36%, 50%, 1);
$colord: hsla(5%, 52%, 32%, 1);
$accent: hsla(204%, 60%, 55%, 1);
$bg: hsla(0%, 0%, 95%, 1);

$colora-desat: hsla(190%, 29%, 50%, 1);
$colorb-desat: hsla(177%, 41%, 50%, 1);
$colorc-desat: hsla(41%, 18%, 75%, 1);
$colord-desat: hsla(5%, 26%, 62%, 1);
$accent-desat: hsla(204%, 30%, 85%, 1);

$break: 500px;

$positive : #4caf50;
$positive-dark : darken($positive, 15%);
$positive-light : lighten($positive, 30%);
$negative : #ff1744;
$negative-dark : darken($negative, 15%);
$negative-light : lighten($negative, 30%);
$neutral : #ffca28;
$neutral-dark : darken($neutral, 15%);
$neutral-light : lighten($neutral, 30%);